<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/apple-icon-180x180.png" rel="icon">

  <title>Ivana's Web</title>

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">Project</a></li>
          <li><a href="./about.html" title="">About me</a></li>
        </ul>

        <div class="footer-container">

          <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
          <p class="footer-share-icons">
              <a href="https://www.instagram.com/ivis_carol/" class="fa-icon" title="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/ivana-carolina-606684191/" class="fa-icon" title="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              <a href="https://github.com/IvanaCarolina" class="fa-icon" title="">
                  <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              </a>
          </p>

        </div>


      </nav>

    </div>
  </nav>
</header>


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>Fisrt Project</h2>

        </div>
        <div class="row section-container-spacer">
              <div class="section-container-spacer">
          </div>

        <div align="left"> <h3>REQUESTING DATA</h3></div>
            <img src="./static/assets/images/img-02.png" alt="" class="img-responsive">
            <img src="./static/assets/images/img-03.png" alt="" class="img-responsive">
            <p>The basics of scraping, as you can see, it's very specific to a website that you want to scrape. You're able to scrape the websites by checking the terms and conditions of that website and robots .text and try to use the data, not in nefarious ways.Well, web scraping simply means programmatically using Python or any language grabbing data from a website. So, for example, I can grab data from Amazon, from Airbnb. From maybe a recipe website, any Web site can be scraped, so essentially when we talk about Web scraping, we mean downloading a Web page, grabbing the data from that Web page, cleaning it up somehow so that it's useful for us.<p>In order for me to scrape HackerNews website, I used a tool called Beautiful Soup.
            And beautiful soup is what we can use in Python, it's a library that we can use to scrape websites. Beautiful soup actually allows us to use HTML and grab different data, so it allows us to use that data that we've gathered to do whatever we want to it to scrape it. But the requests module is actually what allows us to download initially that.</p>So after grab the data, now what we can do is use beautiful soup to clean up this data. There was a lot of information. So I removed all the information that we don't need, such as stories that have less than one hundred points.
</p>
          </div>
        </div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">02</span>Second Project</h2>


        <blockquote class="text-center large-spacing">
            <p></p>
            <small class="pull-right"></small>
        </blockquote>

        <div class="row">
            <div class="col-md-6">
            <img src="./static/assets/images" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
            <img src="./static/assets/images" class="img-responsive" alt="">
            <p></p>
            </div>
        </div>

        <img src="./static/asset+
        /images/.jpg" class="img-responsive" alt="">

      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
        </ul>

        <ul class="navbar-nav nav navbar-right">
        </ul>
      </div>
    </div>
  </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>